@use '../abstracts' as *;

/* ================================
SEARCH POPUP STYLING (Custom)
================================ */
.search-overlay {
  position: fixed;
  inset: 0;
  background: rgba(12, 18, 25, 0.45);
  backdrop-filter: blur(8px);
  z-index: 9998; // ένα κάτω από το popup
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible !important;
  }
}

.search-popup {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  top: 1.5rem;
  left: 1.5rem;
  width: min(1030px, 96vw);
  height: 100%;
  max-height: calc(100vh - 3rem);
  border-radius: 16px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
  flex-direction: column;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.search-container {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  height: 100%;
  max-width: 1031px;
  overflow-y: clip;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateY(20px);
  transition: transform 0.3s ease;

  .search-popup.active & {
    transform: translateY(0);
  }

  .dgwt-wcas-search-wrapp {
    min-width: 100%;
    max-width: 100%;

    .dgwt-wcas-search-form {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;

      .dgwt-wcas-sf-wrapp {
        padding: 10px 0;

        button.dgwt-wcas-search-submit {
          top: 28px !important;

          svg {
            width: 30px;
            height: 30px;
            max-width: 100%;
          }
        }

        .dgwt-wcas-search-input {
          background: transparent;
          padding: 13px 24px 13px 50px !important;
          border: none;
          border-bottom: 1px solid #000;
          border-radius: 0 !important;
          transition: ease-in-out .2s;
          color: #000;
          font-size: clamp(26px, 3vw, 40px);
          font-weight: 400;

          &::placeholder {
            color: #000;
            font-size: clamp(26px, 3vw, 40px);
            font-weight: 400;
          }

          &:hover {
            background: #f1f1f1;
          }

          &:focus {
            border: none;
            border-bottom: 1px solid #000;
          }
        }

        button.dgwt-wcas-search-submit {
          left: 0;
          top: 18px;
        }
      }
    }
  }
}

/* ================================
   HEADER
================================ */
.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .site-logo {
    color: #000;
    font-weight: 600;
    font-size: 40px;

    img {
      max-height: 80px;
      object-fit: contain;
      width: 100%;
      filter: invert(1);
    }
  }


  .search-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 1.2rem;
    right: 1.2rem;
    background: transparent;
    border: 1px solid #17B83A;
    color: #171717;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: #fff;
      border: 1px solid #fff;

    }
  }
}


/* ================================
   CONTENT AREA (Sidebar + Results)
================================ */
.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp {
  background: transparent;

  input {
    &:hover {
      background: transparent !important;
    }

    &:focus {
      background: transparent !important;
    }
  }
}

.search-content {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
  height: 100%;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.popular-searches {
  .search-tags {
    display: flex;
    gap: 2rem;

    a {
      font-size: 15px;
      color: #000;
    }
  }
}

.search-help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .help_top {
    h4 {
      font-size: 27px;
      font-weight: 400;
      margin-bottom: 15px;
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          color: #000;
          font-size: 15px;
          text-decoration: none;
          transition: color 0.2s;

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }
  }

  .help_bottom {
    span {
      font-size: 10px;
      font-weight: 700;
      color: #6A6A6A;
      text-transform: uppercase;
    }
  }

}

/* ================================
   RESULTS GRID
================================ */

/* Στο SCSS σου */

.search-results-wrapper {
  position: relative;
  width: 100%;

  .section-title {
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

/* Default Products Styling */
#rv-default-products {
  transition: opacity 0.3s ease;


  .rv-grid-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media screen and (max-width: 1550px) {
      overflow: auto;
      max-height: 40vh;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}


/* Hide/Show Logic Classes */
.search-has-query {
  #rv-default-products {
    display: none;
  }

  #rv-fibo-results {
    display: block !important;
  }
}

/* Όταν δεν υπάρχει query, κρύψε το fibo container */
.search-no-query {
  #rv-fibo-results {
    display: none !important;
  }
}

.search-results {
  height: 55vh;
  overflow-y: auto !important;
  padding: 12px;

  .dgwt-wcas-suggestions-wrapp {
    width: 100% !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (max-width: 1550px) {
      height: 40vh !important;
    }
    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}

/* Fibo Override Grid Fixes */
.dgwt-wcas-suggestions-wrapp {
  position: static !important;
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  width: 100% !important;
  max-height: none !important;
  border: none !important;

  ul {
    display: grid !important; /* <--- ΠΡΟΣΟΧΗ ΕΔΩ: Το UL γίνεται το Grid Container */
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px !important; /* Κοινό gap με τα default προϊόντα */
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 768px) {
      grid-template-columns: 1fr !important;
    }
  }

  // Το κάθε αποτέλεσμα (li)
  li {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }
}

/* Επειδή το Fibo βάζει wrapper γύρω από το card μας */
.dgwt-wcas-suggestion-product {
  padding: 0 !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;

  .dgwt-wcas-si {
    width: 100%;
    max-width: 110px;
    height: 110px;

    img {
      max-height: 100%;
      object-fit: contain;
      margin: 0;
      padding: 0;
      aspect-ratio: 1;
    }
  }

  .dgwt-wcas-st {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;

    span.dgwt-wcas-sku {
      font-size: 11px;
      opacity: 0.8;
      text-transform: uppercase;
    }

    span.dgwt-wcas-st-title {
      font-size: 18px;
      color: #171717;
      max-width: 80%;
      line-height: 1.2;
    }
  }
}


/* ================================
   FOOTER
================================ */

.search-footer {
  margin-top: 20px;
  text-align: center;

  .view-all {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 24px;
    border: 1px solid #000;
    border-radius: 50px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    transition: all 0.2s;

    &:hover {
      background: #000;
      color: #fff;
    }
  }
}


@media screen and (max-width: 767px) {
  .search-popup {
    width: 97%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .search-container {
      padding: 25px;
      overflow-y: auto;

      .dgwt-wcas-style-pirx .dgwt-wcas-preloader {
        margin-right: 0;
        right: 0 !important;
      }

      .search-content {
        flex-direction: column-reverse;
        display: flex;
        height: auto;
        gap: 3rem;
      }
    }
  }
}