@use '../../abstracts' as *;

/* Main gallery container */
.woocommerce-product-gallery {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    gap: 20px;
  }
}

/* Main slider container */
.rv-gallery-main {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: #f5f5f5;
  border-radius: 6px;

  .rv-zoom-lens {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #fff;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .25);
    transform: translate(170%, 15%);
    z-index: 10;
  }

  /* Center slides */
  .swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 8vh;
  }

  /* Slide styling */
  .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #F6F6F6;
    padding: 15px;
    box-sizing: border-box;
    max-height: 600px !important;


    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
      mix-blend-mode: darken;
      max-height: 500px;
    }
  }

  /* Navigation buttons */
  .swiper-button-prev,
  .swiper-button-next {
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    color: #333;
    transition: all 0.3s ease;

    svg {
      width: 11px;
      height: 11px;

      path {
        stroke-width: 2px;
        stroke: black;
      }
    }

    &::after {
      font-size: 18px;
      font-weight: bold;
    }

    &:hover {
      background: #fff !important;
      border-color: transparent !important;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .rv-gallery-controls {
    position: absolute;
    right: 24px;
    bottom: 14px;
    display: flex;
    gap: 12px;
    z-index: 10;

    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      width: 60px;
      height: 60px;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #A3A3A3;
      background: transparent;
      cursor: pointer;
      transition: 0.2s ease;
      border-radius: 8px;

      &::after {
        font-size: 14px;
      }
    }
  }


}

/* Thumbnails container */
.rv-gallery-thumbs {
  width: 100%;
  padding: 5px;
  opacity: 1;


  @media (min-width: 768px) {
    width: 100px;
  }

  .swiper-wrapper {
    @media (min-width: 768px) {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-top: -8vh !important;
    }
  }

  .swiper-slide {
    width: 60px;
    height: 60px !important;
    opacity: 0.6;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 5px;
    box-sizing: border-box;
    background: #E2E3E7;

    &:hover {
      opacity: 0.8;
    }

    &-thumb-active {
      opacity: 1;
      border-color: $primary-color;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      mix-blend-mode: darken;
    }
  }
}

.zoom-wrapper {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  @media (min-width: 768px) {
    max-width: 100px;
  }

  .rv-gallery-zoom {
    width: 60px;
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 5px;
    box-sizing: border-box;
    background: #E2E3E7;

    &:hover {
      background: #fff;
    }
  }
}

@media (max-width: 900px) {
  .woocommerce-product-gallery {
    grid-template-columns: 1fr;
    display: grid;

    .rv-gallery-thumbs {
      order: 2;
      .zoom-wrapper {
        display: none;
      }
    }
  }
  .rv-zoom-lens {
    display: none;
  }
}


/* Responsive adjustments */
@media (max-width: 767px) {
  .rv-gallery-thumbs {
    .swiper-wrapper {
      height: auto;
      .swiper-slide {
        width: 60px;
        height: 60px;
      }
    }
  }
  .rv-gallery-main {
    .rv-gallery-controls {
      display: none;
    }

    .swiper-wrapper {
      padding-bottom: 0;
    }
  }
}

/* Debug classes */
.swiper-initialized {
  border: none;
}


