@use '../../abstracts' as *;

.rv-related-products {
  padding: 2rem 0;
  margin-top: 5vh;

  &__inner {
    margin: 0 auto;
  }

  &__head {
    display: flex;
    align-items: center; // Central alignment αφού δεν έχουμε text πλέον
    justify-content: space-between;
    gap: 24px;
    margin-bottom: clamp(20px, 3vw, 50px);
  }

  &__title {
      font-size: clamp(28px, 3vw, 46px);
      line-height: 1;
      font-weight: 400;
      color: $primary-color;
      margin: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 880px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 560px) {
      grid-template-columns: 1fr;
    }
  }

  &__carousel {
    position: relative;

    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      height: auto;
    }

    .swiper-pagination {
      position: static;
      display: flex;
      justify-content: center;
      max-width: 400px;
      margin: 5vh auto 0;

      .swiper-pagination-bullet {
        width: 100%;
        height: 3px;
        margin: 0 !important;
        border-radius: 0;
        background: #cfd7cf;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background: $primary-color;
        width: 50%;
      }
    }

    .swiper-pagination-progressbar {
      background: #E2E0DF;

      .swiper-pagination-progressbar-fill {
        background: $primary-color;
      }
    }
  }

  .rv-rp__navwrap {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .rv-rp__nav {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A3A3A3;
    background: transparent;
    cursor: pointer;
    transition: .2s ease;
    border-radius: 8px;

    svg {
      width: 10px;
      height: 10px;
    }

    svg path {
      stroke: $primary-color;
    }

    &:hover {
      background: #fff;
      border-color: #fff;
    }
  }

  @media (max-width: 992px) {
    .rv-rp__nav {
      width: 40px;
      height: 40px;
    }
  }

  @media (max-width: 576px) {
    &__carousel {
      margin-right: calc(-50vw + 50% + var(--scrollbar-width, 0px) / 2) !important;

      .swiper-pagination {
        width: 80%;
      }
    }
  }
}