@use '../../abstracts' as *;


// Video BOX
.video_box_wrapper {
  .video-box {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    align-items: stretch;
    gap: 40px;
    padding: 20px;
    background: #e8e8e8;
    border-radius: 8px;
    margin-top: 10vh;

    &__image {
      position: relative;
      overflow: hidden;
      padding-top: calc((590 / 780) * 100%);

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
        object-position: center;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 18px;
      padding: 20px 10px;
      color: $primary-color;
    }

    &__title {
      font-size: clamp(2rem, 4vw, 2.8rem);
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
    }

    &__text {
      font-size: 17px;
      line-height: 1.55;
      max-width: 650px;
      opacity: 0.7;

    }

    &__button {
      margin-top: auto;
      padding-top: 0;
      padding-bottom: 10px;
      border-top: none;
      position: relative;

      span.button-arrow__icon {
        border-color: #ddd;
      }

      &:before {
        content: "";
        height: 1px;
        width: 100%;
        background: rgba(51, 23, 20, 0.12);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width 0.4s ease;
        z-index: 1;
      }

      &:after {
        content: "";
        height: 1px;
        width: 0;
        background: #17B83A;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width 0.4s ease;
        z-index: 2;
      }

      &:hover {
        span.button-arrow__icon {
          border-color: $secondary-color;
        }

        &:after {
          width: 100%;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .video-box {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}

