@use '../abstracts' as *;

.faq-section {
  padding: clamp(3rem, 4vw, 6rem) clamp(1rem, 4vw, 2rem) clamp(1rem, 4vw, 2rem);
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 37.83%, #D5D5D5 200.55%);
  border-radius: 1rem;
  position: relative;
  min-height: 100vh;


  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -48%;
    width: 58%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(23, 184, 58, 0.8) 0%, rgba(0, 177, 90, 0) 70%);
    pointer-events: none;
    animation: floatGlow 2s ease-in-out infinite alternate;
  }

  @keyframes floatGlow {
    0% {
      transform: translateY(-10px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(2vh);
      opacity: 1;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: flex-start;
  }

  /* LEFT COLUMN (sticky title) */
  &__left {
    position: sticky;
    top: 100px;
    align-self: flex-start;
  }

  &__title {
    font-size: clamp(2rem, 4vw, 42px);
    line-height: 1.2;
    font-weight: 400;
    max-width: 500px;
    color: $primary-color;
  }

  /* RIGHT COLUMN */
  &__right {
    width: 100%;
  }

  /* ACCORDION */
  .faq-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;

    &__header {
      width: 100%;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      font-size: clamp(1rem, 4vw, 24px);
      color: #111;
      font-weight: 400;
      text-align: left;
      transition: color .2s ease;

      &:hover {
        color: $secondary-color;
      }

      &.active {
        color: $secondary-color;

        .faq-item__icon {
          border: solid 1px $secondary-color;

          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    /* Arrow icon */
    &__icon {
      transition: transform .3s ease;
      border: solid 1px #D6D6D6;
      width: 52px;
      border-radius: 3px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        transition: transform .3s ease;
      }
    }

    /* CONTENT */
    &__content {
      overflow: hidden;
      max-height: 0;
      transition: max-height .35s ease;
    }

    &__text {
      padding: 15px 0 5px;
      color: #555;

      p {
        margin-bottom: 1rem;
        font-size: 17px;
        line-height: 1.55;
      }

      a {
        color: $secondary-color;
        text-decoration: none;
      }
    }
  }

  /* RESPONSIVE */
  @media (max-width: 992px) {
    padding: 0;
    &:after {
      display: none;
    }
    &__inner {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    &__left {
      position: static;
    }
  }
}
