.history-horizontal {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #fdfdfd;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -40%;
    width: 80%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(23, 184, 58, 0.4) 0%, rgba(0, 177, 90, 0) 65%);
    pointer-events: none;
    z-index: 0;
    animation: floatGlow 2s ease-in-out infinite alternate;
  }
  &::before {
    content: "";
    position: absolute;
    top: 25%;
    left: -33%;
    width: 60%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(23, 184, 58, 0.4) 0%, rgba(0, 177, 90, 0) 65%);
    pointer-events: none;
    z-index: 0;
    animation: floatGlow 2s ease-in-out infinite alternate;
  }
}

.history-track {
  display: flex;
  height: 100%;
  will-change: transform;
  gap: 8%;
  position: relative;
  z-index: 1;
}

.history-slide {
  min-width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8vh 3vw; /* Padding για να αναπνέει το περιεχόμενο */
  box-sizing: border-box;

}

.slide-inner {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* TOP ROW */
.top-row {
  display: flex;
  height: 45%;
  gap: 20px;
}

.main-title {
  flex: 1.2;
  padding: 40px;
  display: flex;
  align-items: center;
}

.main-title h2 {
  font-size: 2.2rem;
  line-height: 1.3;
  font-weight: 400;
  color: #333;
  margin: 0;
}

.main-title .green {
  color: #2da352;
  display: block;
  margin-top: 10px;
}

.img-small {
  flex: 0.8;
}

.img-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BOTTOM ROW */
.bottom-row {
  display: flex;
  height: 55%;
  gap: 20px;
}

.img-large {
  flex: 1;
}

.img-large img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-block {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.info-block .label {
  color: #2da352;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.info-block p {
  color: #888;
  max-width: 400px;
  line-height: 1.6;
  margin: 15px 0;
}

.info-block .year {
  font-size: 8rem;
  font-weight: 500;
  color: #111;
  line-height: 1;
  margin-top: auto;
}

/* FOOTER FIXES */
.history-footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  color: #999;
}

.f-center { flex: 1; display: flex; justify-content: center; }
.f-left, .f-right { flex: 1; }
.f-right { text-align: right; }

.progress-bar {
  width: 200px;
  height: 2px;
  background: #eee;
}

.progress-bar span {
  display: block;
  height: 100%;
  background: #333;
  transform: scaleX(0);
  transform-origin: left;
}