@use '../abstracts' as *;


.home-blog-grid {
  padding: 70px 0;
  display: flex;
  position: relative;
  background: #000;

  .container {
    max-width: 1600px;
  }

  .first_post {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;

    .hbg-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex: 1;
      width: 100%;

      .post_head {
        display: flex;
        align-items: center;

        .hbg-category {
          font-size: 16px;
          letter-spacing: 0.83px;
          background: #213D1D;
          padding: 4px 8px 2px;
          color: $secondary-color;
          border-radius: 2px;
          text-transform: uppercase;
          margin: 0;
          line-height: 1.5;
        }

        .hbg-date {
          text-transform: uppercase;
          letter-spacing: 0.83px;
          color: $secondary-color;
          line-height: 1.5;
          font-size: 16px;
          margin-left: 10px;
          margin-bottom: 0;
        }
      }

      .hbg-title {
        font-size: clamp(28px, 4vw, 75px);
        font-weight: 400;
        line-height: 1.15;
        color: #fff;
      }

      .hbg-btn {
        margin-top: 30px;
        display: inline-flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        padding: 10px 20px;
        border: 1px solid $secondary-color;
        background: transparent;
        color: $secondary-color;
        border-radius: 6px;
        transition: 0.3s ease;

        &:hover {
          background: $secondary-color;
          color: black;
        }
      }
    }

    .hbg-image {
      display: flex;
      flex: 1;
      position: relative;
      border-radius: 4px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
        display: block;
      }

      &:after {
        content: "";
        border-radius: 4px;
        position: absolute;
        inset: 0;
        z-index: 1;
        pointer-events: none;
        background: linear-gradient(48deg, rgb(30, 157, 74) 0%, rgba(30, 157, 74, 0) 60%);
        opacity: 1;
        transition: opacity 0.5s ease;
        transition-delay: 0.3s;
      }
    }
  }

  .bottom_grid {
    margin-top: 12vh;

    .bottom_title {
      font-size: 18px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 40px;
    }

    .hbg-bottom {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }

    .hbg-card {
      text-decoration: none;
      color: #fff;
      display: flex;
      gap: 14px;


      .hbg-card-thumb {
        height: 100%;

        img {
          width: 100%;
          height: 140px;
          object-fit: cover;
          border-radius: 4px;
          aspect-ratio: 1;
        }
      }

      .hbg-card-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;

        .hbg-card-meta {
          display: flex;
          gap: 10px;
          align-items: center;

          .hbg-card-category {
            font-size: 11px;
            letter-spacing: 0.83px;
            background: #213D1D;
            padding: 4px 8px 2px;
            color: $secondary-color;
            border-radius: 2px;
            text-transform: uppercase;
            margin: 0;
            line-height: 1.5;
          }

          .hbg-card-date {
            text-transform: uppercase;
            letter-spacing: 0.83px;
            color: $secondary-color;
            line-height: 1.5;
            font-size: 11px;
            margin-bottom: 0;
          }
        }

        .hbg-card-title {
          color: #fff;
          font-size: 20px;
          font-weight: 400;
          line-height: 1.2;
          max-width: 270px;
        }

        .card__line {
          position: relative;
          width: 100%;

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            left: 0;
            background: #474747;
            transition: width .4s ease;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 1px;
            background: $secondary-color;
            transition: width .4s ease;

          }
        }

        &:hover {
          .card__line::after {
            width: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 40px;
    .first_post {
      flex-direction: column-reverse;
      gap: 30px;
    }
    .bottom_grid {
      .hbg-bottom {
        width: 100%;
        overflow-x: auto;


        &::-webkit-scrollbar-track {
          background: #fcfcfc;
        }

        &::-webkit-scrollbar-thumb {
          background: $secondary-color;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: $secondary-color;
        }

        &::-webkit-scrollbar {
          height: 3px;
        }

        .hbg-card {
          flex-direction: column;
          width: 200px;

          .hbg-card-info {
            .hbg-card-meta {
              align-items: flex-start;
              flex-direction: column;
            }

            .hbg-card-title {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
