@use '../abstracts' as *;


.home-history {
  position: relative;
  padding: 5rem 0;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -40%;
    width: 80%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(23, 184, 58, 0.4) 0%, rgba(0, 177, 90, 0) 65%);
    pointer-events: none;
    animation: floatGlow 2s ease-in-out infinite alternate;
  }

  @keyframes floatGlow {
    0% {
      transform: translateY(-10px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(2vh);
      opacity: 1;
    }
  }

  &__inner {
    position: relative;
    z-index: 2;
    padding: 0 3%;
  }

  &__top {
    display: grid;
    grid-template-columns: minmax(0, 1.1fr) minmax(280px, 0.7fr);
    gap: 3.5rem;
    align-items: center;
    margin-bottom: 4.5rem;
  }

  &__top-text {
    p {
      font-size: clamp(1.8rem, 5.5vw, 3.2rem);
      line-height: 1.1;
      font-weight: 400;
      max-width: 850px;
    }

    em,
    strong {
      color: $secondary-color;
      font-weight: 400;
    }
  }

  &__top-media {
    justify-self: end;
  }

  &__top-media {
    position: relative;
    width: 100%;
    padding-top: calc(422 / 509 * 100%);
  }

  &__top-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    object-fit: cover;
    object-position: center;
  }

  /* BOTTOM ROW */
  &__bottom {
    display: grid;
    grid-template-columns: minmax(320px, 0.9fr) minmax(0, 1.1fr);
    gap: 3.25rem;
    align-items: flex-end;
  }

  &__bottom-media {
    position: relative;
    width: 100%;
    padding-top: calc(461 / 743 * 100%);

    .home-history__bottom-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      object-fit: cover;
      object-position: center;
    }
  }

  &__bottom-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
  }

  &__counters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 0.5rem 0rem;
  }

  &__counter {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__counter-label {
    font-size: clamp(1rem, 4vw, 1.3rem);
    font-weight: 400;
    color: $secondary-color;
    margin: 0;
  }

  &__counter-number {
    font-size: clamp(3rem, 5.5vw, 4.1rem);
    line-height: 1;
    font-weight: 400;
    color: #031321;
    margin: 0;
  }

  &__text {
    max-width: 645px;

    p {
      color: #808080;
      line-height: 1.2;
      font-weight: 400;
      font-size: clamp(1rem, 4vw, 1.3rem);
    }

  }

  /* responsive */
  @media (max-width: 1024px) {
    &__top {
      grid-template-columns: 1fr;
      gap: 2rem;
      text-align: left;
    }

    &__top-media {
      justify-self: flex-start;
    }

    &__bottom {
      grid-template-columns: 1fr;
    }
    &__bottom-media {
      display: none;
    }
    &::after {
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at center, rgba(23, 184, 58, 0.30) 0%, rgba(0, 177, 90, 0) 65%);
    }
  }

  @media (max-width: 600px) {
    padding: 3.5rem 0;

    &__counter-number {
      font-size: 2rem;
    }

    &__top-text {
      font-size: 1.25rem;
    }
  }
}
