@use '../abstracts' as *;

.rv-home-products {
  padding: clamp(3rem, 4vw, 6rem) clamp(1rem, 4vw, 2rem) clamp(1rem, 4vw, 2rem);
  background: linear-gradient(360deg, rgba(255, 255, 255, 0) 37.83%, #D5D5D5 200.55%);
  border-radius: 1rem;
  margin-bottom: clamp(30px, 5vw, 6rem);

  &__inner {
    margin: 0 auto;
  }

  &__head {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: clamp(20px, 3vw, 50px);

    .wysiwyg p {
      margin: 0;
      opacity: .8;
    }
  }

  &__title {
    flex: 0 0 50%;

    p {
      font-size: clamp(35px, 4vw, 50px);
      line-height: 1;
      font-weight: 400;
      color: $primary-color;

      strong {
        color: $secondary-color;
        font-weight: 400;
      }
    }
  }

  &__text {
    flex: 1 1 0;
    max-width: 480px;
    color: #6a6a6a;
    font-size: 15px;
    line-height: 1.6;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 880px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 560px) {
      grid-template-columns: 1fr;
    }
  }

  &__carousel {
    position: relative;

    .swiper-wrapper {
      align-items: stretch;
    }

    .swiper-slide {
      height: auto;
    }
    .swiper-pagination-progressbar{
      background: #E2E0DF;
      .swiper-pagination-progressbar-fill{
        background: $primary-color;
      }
    }
    .swiper-pagination {
      position: static;
      display: flex;
      justify-content: center;
      max-width: 400px;
      margin: 6vh auto 0;
      gap: 0;


      .swiper-pagination-bullet {
        width: 100%;
        height: 3px;
        margin: 0 !important;
        border-radius: 0;
        background: #cfd7cf;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background: $primary-color;
        width: 50%;
      }
    }
  }

  .rv-hp__navwrap {
    flex: 0 0 auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  .rv-hp__nav {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A3A3A3;
    background: transparent;
    cursor: pointer;
    transition: .2s ease;
    border-radius: 8px;

    svg {
      width: 10px;
      height: 10px;
    }

    svg path {
      stroke: $primary-color;
    }

    &:hover {
      background: #fff;
      border-color: #fff;
    }
  }

  @media (max-width: 992px) {
    &__head {
      flex-direction: column;
      align-items: flex-start;
    }
    .rv-home-products__inner{
      padding: 0;
    }

    .rv-hp__navwrap {
      margin-left: 0;
    }
    .rv-hp__nav{
      width: 40px;
      height: 40px;
    }
  }
}
