@use '../abstracts' as *;


.home-hero {
  position: relative;
  min-height: 500px;
  padding: 0;
  background-size: cover;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  background-attachment: fixed;



  &__video-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

    .hero-video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
      object-fit: cover;
      pointer-events: none; // no click
      z-index: 0;
    }

    iframe.hero-video {
      width: 300%;
      height: 300%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(150deg, #000000bd, #2c572600);
  }

  &__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0 auto;
    padding: 1rem;
    height: 100%;
  }

  &__content {
    max-width: 1000px;
    text-align: left;
    color: #fff;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 13vh 0 5vh;
    position: relative;
  }

  &__subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $secondary-color;
  }

  &__title {
    p {
      font-size: clamp(2.2rem, 4.5vw, 5.6rem);
      line-height: 1.05;
      font-weight: 400;
      margin-bottom: 1.5rem;
      color: #fff;

      strong {
        color: $secondary-color;
        font-weight: 400;
      }
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    max-width: 460px;
  }

  &__boxes {
    position: absolute;
    right: 10px;
    bottom: 7vh;
    display: flex;
    gap: 1rem;
    z-index: 2;
  }

  .hero-box {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    max-width: 350px;
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(4px);
    padding: 8px;
    position: relative;
    transition: ease-in-out 0.3s;


    .hero__link {
      position: absolute;
      inset: 0;
      z-index: 1;
    }

    &__image {
      width: 85px;
      aspect-ratio: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &__content {
      padding: 0 0.4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0;
    }

    &__title {
      font-size: 1rem;
      line-height: 1.3;
      color: #fff;
      margin: 0;
      font-weight: 400;
      max-width: 80%;
    }

    &__link {
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      gap: 0.5rem;
      color: #fff;
      text-decoration: none;
      opacity: 0.9;
      transition: opacity .2s ease;
    }

    &__icon {
      width: 42px;
      height: 42px;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      line-height: 1;
      transition: ease-in-out 0.3s;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.35);

      .hero-box__icon {
        background: $secondary-color;
      }
    }
  }


  @media (min-width: 1200px) {
    min-height: 95vh;
  }
  @media (max-width: 1550px) {
    .home-hero {
      &__content {
        padding: 25vh 0 5vh;
      }
    }
  }
  @media (max-width: 1200px) {
    .home-hero {

      &__boxes {
        position: static;
        margin-top: 1.5rem;

      }
      &__inner {
        position: static;
        left:unset;
        top: unset;
        transform: unset;
        z-index: 1;
        margin: 0 auto;
        padding: 1rem;
        height: 100%;
      }
    }
  }
  @media (max-width: 767px) {
    .home-hero {
      &__inner {
        padding-bottom: 2rem;
        max-width: 100%;
      }
      &__content {
        padding: 18vh 0 1vh;
      }
      &__boxes {
        position: static;
        margin-top: 1.5rem;
        overflow-x: auto;
        padding-bottom: 8px;
        &::-webkit-scrollbar-track {
          background: #fcfcfc;
        }

        &::-webkit-scrollbar-thumb {
          background: $secondary-color;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: $secondary-color;
        }

        &::-webkit-scrollbar {
          height: 3px;
        }
        .hero-box{
          flex: 1;
          flex-basis: auto;
          flex-shrink: 0;
        }
      }
    }
  }
}
