// Blocks : Small, reusable Blocks components
@forward 'home-hero';
@forward 'home_history';
@forward 'home-services';
@forward 'home-products';
@forward 'scroll-video';
@forward 'home-blog-grid';
@forward 'useful-info-boxes';
@forward 'inner-hero';
@forward 'grid-services';
@forward 'faq-section';
@forward 'extra-services-boxes';
@forward "characteristics";
@forward "contact-infos";
@forward "contact-location";
@forward "contact-form";
