@use '../abstracts' as *;

.block-text-with-logos {
  position: relative;
  margin-top: 10vh;
  margin-bottom: 10vh;

  .container {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0) 37.83%, #D5D5D5 200.55%);
    border-radius: 1rem;
    padding: 3rem 3rem;
  }

  &:after {
    content: "";
    position: absolute;
    top: 25%;
    left: -35%;
    width: 60%;
    height: 62%;
    padding: 29rem;
    background: radial-gradient(circle at center, rgba(23, 184, 58, 0.4) 0%, rgba(0, 177, 90, 0) 65%);
    pointer-events: none;
    animation: floatGlow 2s ease-in-out infinite alternate;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__title {
    margin-bottom: 40px;
    transition: all 0.2s;
    max-width: 1200px;

    p {
      font-size: clamp(2rem, 4vw, 3rem);
      line-height: 1.15;
      font-weight: 400;
      color: #111;

      strong {
        color: $secondary-color;
        font-weight: 500;
      }

    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: flex-start;
    gap: 80px;
  }

  /* LEFT */
  &__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  /* RIGHT */
  &__right {
    padding-left: 40px;
  }

  &__text {
    color: #222;

    p {
      margin: 0 0 18px;
      font-size: 22px;
      line-height: 1.5;
    }
  }

  /* LOGOS */
  &__logos {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;

    img {
      height: 34px;
      width: auto;
      object-fit: contain;
      opacity: .95;
      filter: grayscale(100%);
    }
  }

  /* Responsive */
  @media (max-width: 1024px) {

    &:after {
      top: 57%;
      left: -100%;
      width: 20%;
      height: 15%;
    }

    &__inner {
      grid-template-columns: 1fr;
      gap: 60px;
    }

    &__right {
      padding-left: 0;
    }

    &__logos {
      justify-content: flex-start;
      gap: 24px 36px;
    }

    &__logo {
      min-width: 100px;

      img {
        height: 30px;
      }
    }
  }
}