@use '../../abstracts' as *;


.rv-service-card {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  background: #f3f5f3;

  &:before {
    content: '';
    height: 1px;
    width: 100%;
    background: #3317141A;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .4s ease;
    z-index: 0;
  }

  &:after {
    content: '';
    height: 1px;
    width: 0;
    background: $secondary-color;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width .4s ease;
    z-index: 1;
  }

  &__hover {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(48deg, rgb(30 157 74) 0%, rgba(30, 157, 74, 0) 60%);
    opacity: 0;
    transition: opacity .5s ease;
  }

  &__link {
    display: grid;
    grid-template-rows: 1fr auto;
    text-decoration: none;
    height: 100%;
  }

  &__media {
    position: relative;
    padding-top: calc(650 / 544 * 100%);
    overflow: hidden;
    border-radius: 4px;
  }

  &__img, &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transform: scale(1);
    transition: transform .45s ease;
  }

  &__placeholder {
    background: #e6eae6;
  }


  &__meta {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px 16px;
    align-items: center;
    padding: 14px 16px 10px;
    border-top: 1px solid #cfe7cf;
    background: #fff;
  }

  &__tag {
    grid-column: 1 / -1;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.66px;
    color: $secondary-color;
    text-transform: uppercase;
  }

  &__title {
    font-size: clamp(16px, 2.2vw, 28px);
    line-height: 1.25;
    font-weight: 400;
    color: $primary-color;
    margin: 0;
  }

  &__btn {
    width: 13px;
    height: 13px;
    display: inline-grid;
    place-items: center;
    border-radius: 3px;
    border: 1.5px solid #858585;
    transition: .4s ease;
    transition-delay: 0.3s;
    position: absolute;
    bottom: 15px;
    right: 10px;

    svg {
      width: 0px;
      height: 0px;
      transition: .3s ease;
      transition-delay: 0.5s;
    }

    svg rect {
      stroke: transparent;
    }

    svg path {
      stroke: #000;
    }
  }


  &:hover {
    .rv-service-card__img {
      transform: scale(1.04);
    }

    .rv-service-card__hover {
      opacity: 1;
    }

    .rv-service-card__btn {
      width: 40px;
      height: 40px;
      border-color: $secondary-color;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:after {
      width: 100%;
    }
  }
}
