@use '../../abstracts' as *;

.service-banner {
  position: relative;
  padding: 15vh 2rem;
  overflow: hidden;


  &__bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: bottom;
    z-index: 1;
    background-attachment: fixed;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
                    90deg,
                    rgba(0, 0, 0, 0.55) 0%,
                    rgba(0, 0, 0, 0.35) 35%,
                    rgba(0, 0, 0, 0.15) 70%,
                    rgba(0, 0, 0, 0) 100%
    );
    z-index: 2;
    pointer-events: none;
  }

  &__inner {
    position: relative;
    z-index: 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 40px;
  }

  &__title {
    font-size: clamp(1.5rem, 5vw, 4.5rem);
    color: #fff;
    font-weight: 400;
    line-height: 1.25;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  &__desc {
    color: #fff;
    font-size: clamp(18px, 4vw, 28px);
    line-height: 1.35;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;

    .service-banner__button {
      font-size: 1rem;
      padding: 12px 24px;
      border-radius: 3px;
    }

    .btn_left {
      background: #fff;
    }

    .btn_right {
      border: 1px solid #fff;
      color: #fff;
    }
  }

  @media (max-width: 992px) {
    &__inner {
      grid-template-columns: 1fr;
      text-align: left;
      padding: 0;
    }

    &__right {
      align-items: flex-start;
    }
  }
}
