@use '../../abstracts' as *;

.service-characteristics {
  position: relative;
  padding: clamp(60px, 10vw, 120px) 0;
  overflow: hidden;

  /* Background gradient */
  &__bg {
    content: "";
    position: absolute;
    top: 0;
    right: -40%;
    width: 80%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(23, 184, 58, 0.4) 0%, rgba(0, 177, 90, 0) 50%);
    pointer-events: none;
    animation: floatGlow 2s
    ease-in-out infinite alternate;
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 80px;
  }

  /* LEFT */
  &__left {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    margin-bottom: 40px;
    p {
      font-size: clamp(2rem, 4vw, 3rem);
      line-height: 1.15;
      font-weight: 400;

      strong {
        color: $secondary-color;
        font-weight: 500;
      }
    }
  }

  &__button {
    margin-top: 20px;
  }

  /* RIGHT */
  &__right {
    padding-left: 40px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__icon {
    width: 55px;
    height: 55px;
    border: 2px solid $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    img {
      width: 65%;
      height: 65%;
      object-fit: contain;
    }
  }

  &__item-title {
    font-size: 1.2rem;
    font-weight: 400;
    color: #222;
  }

  /* Responsive */
  @media (max-width: 1024px) {
    &__inner {
      grid-template-columns: 1fr;
      gap: 60px;
    }

    &__right {
      border-left: none;
      padding-left: 0;
    }
  }
}
