@use '../../abstracts' as *;

.rv-fullscreen-content-wrapper {
  margin-bottom: 80px; // ή όσο θες

  .rv-fullscreen-content {
    position: relative;
    width: 100% !important;
    max-width: 100% !important;
    height: 100%;
    background: #000;
    padding-bottom: 15vh;


    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 10vh 1rem;
    }

    &__media {
      position: absolute;
      inset: 0;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed; // εδώ το “attachment fixed”
    }

    &__overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      pointer-events: none;
    }

    &__content {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100vh;
    }

    &__subtitle {
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $secondary-color;
      margin-bottom: 2rem;
      font-weight: 700;
    }

    &__title {
      p {
        max-width: 900px;
        color: #fff;
        font-size: clamp(28px, 4vw, 75px);
        line-height: 1.2;
        font-weight: 400;

        strong,
        span.green {
          font-weight: 400;
          color: $secondary-color;
        }
      }

      p {
        margin: 0;
      }
    }

    // wrapper για το box ώστε να “κάθεται” πάνω από το κάτω μέρος του hero
    &__service-box-wrapper {
      position: relative;
      z-index: 3;
      margin-top: -80px; // το φέρνει πάνω από το 100vh hero
    }
  }


  // SERVICE BOX
  .service-box {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    align-items: stretch;
    gap: 40px;
    padding: 20px;
    background: #f7f5f4;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);

    &__image {
      position: relative;
      overflow: hidden;
      padding-top: (590 / 780) * 100%;

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
        object-position: center;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 18px;
      padding: 20px 10px;
      color: $primary-color;
    }

    &__title {
      font-size: clamp(2rem, 4vw, 2.8rem);
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
    }

    &__text {
      font-size: 17px;
      line-height: 1.55;
      max-width: 495px;
      opacity: 0.7;

    }

    &__button {
      margin-top: auto;
      padding-top: 10px;
      border-top: 1px solid #ddd;
    }
  }
}

@media (max-width: 768px) {
  .rv-fullscreen-content-wrapper {
    .service-box {
      grid-template-columns: 1fr;
    }
    .rv-fullscreen-content__content{
      height: 50vh;
      padding: 0;
    }
  }
}
