@use '../abstracts' as *;
// Cart Page
.woocommerce-cart {
  .woocommerce {
    @apply max-w-7xl mx-auto px-4 py-8;
  }

  .wc-block-components-sidebar-layout.wc-block-cart {
    padding: 5% 0;

    .wc-block-components-sidebar {
      background: #fff;
      padding: 1rem;
      border-radius: 8px;
      .wc-block-cart__submit-container {
        a {
          background: $primary-color;
          color: #fff;
          transition: all 0.2s;

          &:hover {
            background: $secondary-color;
          }
        }
      }
    }
  }
}
