@forward 'list';
@forward 'cart';
@forward 'woocommerce';
@forward 'checkout';
@forward 'account';
@forward 'filters';
@forward 'offcanvas-cart';
@forward 'notifications';
@forward 'single-product/single_product';
@forward 'single-product/gallery';
@forward 'single-product/related';
@forward 'single-product/tabs';
@forward 'single-product/summary';
@forward 'single-product/same-cat-products';
