@use '../abstracts' as *;


// WooCommerce Styles
.woocommerce {

  section.related.products {
    margin-top: 5vh;
    display: block;
    clear: both;
  }

  // Example button styles
  .button {
    @apply inline-block px-4 py-2 bg-primary-500 text-white rounded-md hover:bg-primary-600 transition-colors;
  }

  // Example product title
  .woocommerce-loop-product__title {
    @apply text-lg font-medium mt-2;
  }

  // Example price
  .price {
    @apply text-primary-600 font-medium;
  }
}

.woocommerce img, .woocommerce-page img {
  height: 100%;
  max-width: 100%;
}


.wc-blocks-components-select .wc-blocks-components-select__container {
  background: transparent;
}

.single-product {
  main {
    padding-top: 10vh;
  }
}

.woocommerce-cart, .woocommerce-checkout {
  main {
    .pages-hero {
      min-height: 45vh;
    }
  }
}

.woocommerce-checkout {
  max-width: 100% !important;
  padding: 0 !important;

  #content {
    #main {
    }
  }
}

.woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before {
  content: " ";
  display: none;
}


.woocommerce span.onsale {
  background: #e00000;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  text-transform: uppercase;
  padding: 1.7rem;
}

.woocommerce div.product form.cart .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;

  &:hover{
    background: $secondary-color;
    transform: translateY(0);
  }
}
.woocommerce div.product form.cart{
  display: flex;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product .stock {
  color: $secondary-color;
  text-transform: uppercase;
  font-size: 13px !important;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price, .woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product span.price {
  color: #000000;
  font-size: 1.3rem;
}