@use '../abstracts' as *;
@use '../base/mixins' as *;

// Container
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  // Default max-width for all breakpoints
  max-width: 100%;

  // Breakpoint-specific max-widths
  @include media-breakpoint-up(sm) {
    max-width: 767px;
  }

  @include media-breakpoint-up(md) {
    max-width: 1080px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 1024px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1350px;
  }

  @include media-breakpoint-up(xxl) {
    max-width: 1700px;
  }
}

// Full width section
.section-full-width {
  width: calc(100vw - var(--scrollbar-width, 0px));
  margin-left: calc(-50vw + 50% + var(--scrollbar-width, 0px) / 2);
  margin-right: calc(-50vw + 50% + var(--scrollbar-width, 0px) / 2);
  position: relative;
}

.p-0 {
  padding: 0px !important;
}


.rv-breadcrumbs {
  margin-bottom: 3vh;

  nav.rank-math-breadcrumb {
    a {
      color: #F6F6F6;

      &:hover {
        color: $secondary-color;
      }
    }

    p {
      font-size: 12px;
      text-transform: uppercase;
      margin: 0;
      color: #F6F6F6;

      span.separator {
        margin: 0 8px;
      }
    }
  }
}

.error404 {
  #content {
    padding-top: 20vh;
    min-height: 100vh;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url('/wp-content/themes/Ruined/src/img/default.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: brightness(0.5);
    }

    .wrapper_404 {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;

      .content_404 {
        color: #fff;
        text-align: center;
        h1{
          color: #fff;
        }
      }
    }
  }
}

html.menu-open,
body.menu-open {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

