@use '../abstracts' as *;
@use '../base/mixins' as *;

// Container
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  // Default max-width for all breakpoints
  max-width: 100%;

  // Breakpoint-specific max-widths
  @include media-breakpoint-up(sm) {
    max-width: 540px;
  }

  @include media-breakpoint-up(md) {
    max-width: 767px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 992px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1140px;
  }

  @include media-breakpoint-up(xxl) {
    max-width: 1800px;
  }
}

// Full width section
.section-full-width {
  width: calc(100vw - var(--scrollbar-width, 0px));
  margin-left: calc(-50vw + 50% + var(--scrollbar-width, 0px) / 2);
  margin-right: calc(-50vw + 50% + var(--scrollbar-width, 0px) / 2);
  position: relative;
}


.post-type-archive.post-type-archive-product,.woocommerce-account, .single-product, .woocommerce-cart, .woocommerce-checkout {
  main#content{
    padding-top: 5vh;
  }
}
