@use '../abstracts' as *;


.pages-hero {
  position: relative;
  min-height: 500px;
  padding: 0;
  background-size: cover;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  background-attachment: fixed;

  &--dark {
    .pages-hero__title,
    .pages-hero__text,
    .rv-breadcrumbs,
    .bottom_content,.rv-breadcrumbs nav.rank-math-breadcrumb p,.rv-breadcrumbs nav.rank-math-breadcrumb a {
      color: #000;
    }
  }
  &--light {
    .pages-hero__title,
    .pages-hero__text,
    .rv-breadcrumbs,
    .bottom_content, .rv-breadcrumbs nav.rank-math-breadcrumb p,.rv-breadcrumbs nav.rank-math-breadcrumb a {
      color: #fff;
    }
  }

  &__video-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;

    .hero-video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
      object-fit: cover;
      pointer-events: none; // no click
      z-index: 0;
    }

    iframe.hero-video {
      width: 300%;
      height: 300%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(150deg, #000000bd, #2c572600);
  }

  &__inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0 auto;
    padding: 1rem;
    height: 100%;
  }

  &__content {
    max-width: 1000px;
    text-align: left;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 14vh 0 5vh;
    position: relative;
  }

  &__subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $secondary-color;
  }

  &__title {

    p {
      font-size: clamp(2.2rem, 5.5vw, 4.7rem);
      line-height: 1.05;
      font-weight: 400;
      margin-bottom: 1.5rem;

      strong {
        color: $secondary-color;
        font-weight: 400;
      }
    }

    font-size: clamp(2.2rem, 5.5vw, 4.7rem);
    line-height: 1.05;
    font-weight: 400;
    margin-bottom: 1.5rem;

    strong {
      color: $secondary-color;
      font-weight: 400;
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    max-width: 460px;
  }


  @media (min-width: 1200px) {
    min-height: 75vh;
  }

  @media (max-width: 991px) {
    .pages-hero {
      &__inner {
        position: static;
        left: unset;
        top: unset;
        transform: unset;
        z-index: 1;
        margin: 0 auto;
        padding: 1rem;
        height: 100%;
      }
    }
  }
}
