@use '../../abstracts' as *;

.mega-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .4);
  backdrop-filter: blur(6px);
  opacity: 0;
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  z-index: 9999;
}

.mega-container {
  width: 100%;
  max-width: 1000px;
  height: 90vh;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 32px;
  opacity: 0;
  transform: translateY(40px) scale(.98);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.mega-bg-deco {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  background: #fff;
  opacity: .4;
  border-radius: 100%;
  filter: blur(100px);
  transform: translate(30%, -50%);
  pointer-events: none;
}

.mega-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.mega-title {
  margin-top: 1rem;
  font-size: 2.5rem;
  font-weight: 300;
}

.mega-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1.5rem;
  right: 1.5rem;
  background: transparent;
  border: 1px solid $secondary-color;
  color: $primary-color;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  &:hover{
    background: #fff;
    color: #000;
  }
}

.mega-grid {
  flex: 1;
  display: flex;
  padding: 0 3rem 2rem;
  gap: 2rem;
}

/* LEFT */
.mega-left {
  width: 40%;
  border-right: 1px solid rgba(0, 0, 0, .15);
  display: flex;
  flex-direction: column;

  .button-arrow {
    margin-top: 3vh;

    .button-arrow__text {
      font-size: 14px;
    }
  }
}

.column-label, .panel-label {
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: $primary-color;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.mega-left-list {
  flex: 1;
  overflow-y: auto;
}

.mega-left-item {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 12px;
  cursor: pointer;

  a, span {
    transition: .3s;
    color: $primary-color;
  }

  .item-icon {
    svg {
      path {

      }
    }
  }
}

.mega-left-item:hover {
  a, span {
    color: $secondary-color;
  }

  .item-icon {
    svg {
      path {
        stroke: $secondary-color;
      }
    }
  }
}

.mega-left-item.active {
  a, span {
    color: $secondary-color;
  }

  .item-icon {
    svg {
      transition: .5s;

      path {
        stroke: $secondary-color;
      }
    }
  }
}

.item-label {
  line-height: 1;
  font-weight: 400;
  font-size: 23px;
}

.view-all-btn {
  width: 100%;
  padding: .8rem 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  background: transparent;
}

/* RIGHT PANEL */
.mega-right {
  flex: 1;
  padding-left: 2rem;
  position: relative;

  .mega-watermark {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3vw;
    font-weight: 900;
    opacity: 0.03;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    line-height: 1;
    z-index: 0;
    display: none;
  }

}

.mega-right-panel {
  position: absolute;
  inset: 0;
  display: none !important;
  opacity: 0;
  z-index: 1;
  animation: fadeUp .3s ease;

  .button-arrow {
    margin-top: 3vh;
  }
}

.mega-right-panel.active {
  display: flex !important;
  opacity: 1 !important;
  transform: translate(0px, 0) !important;
  flex-direction: column;
  justify-content: space-between;
}


.sub-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.sub-item {
  font-size: 1.2rem;
  text-decoration: none;
  color: $primary-color;
  display: flex;
  align-items: center;
  gap: 0;
  transition: .5s;

  &:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #17B83A;
    border-radius: 1px;
    opacity: 0;
    transition: .5s;
    display: none;
  }

}

.sub-item:hover {
  color: $secondary-color;
  transition: .5s;

  &:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #17B83A;
    border-radius: 1px;
    opacity: 1;
    transition: .5s;
    margin-right: 15px;
  }
}

.sub-item.highlight {
  color: $secondary-color;
}

.green-dot {
  width: 10px;
  height: 10px;
  background: $secondary-color;;
  display: inline-block;
}

/* Bottom */
.mega-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: .8rem;

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5vh;
    text-transform: uppercase;

    a, span {
      font-weight: 500;
      font-size: 11px;
      color: $primary-color;
    }
  }
}


.mega-very-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5vh;
  font-size: .7rem;
  text-transform: uppercase;

  a, span {
    font-weight: 500;
    font-size: 11px;
    color: $primary-color;
  }
}

/* Animations */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
