@use '../../abstracts' as *;

.sigma-auth-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: none; // θα το ανοίγουμε με JS
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
  // optional για πιο smooth gsap autoAlpha:
  opacity: 0;
}

.sigma-auth-overlay.is-open {
  display: flex;
}

.sigma-auth-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
}

.sigma-auth-modal {
  position: relative;
  z-index: 1;
  max-width: 555px;
  width: 100%;
  height: 95vh;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;


  .woocommerce-form-register.register {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.sigma-auth-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 1.2rem;
  right: 1.2rem;
  background: transparent;
  border: 1px solid #17B83A;
  color: #171717;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 25px;
  z-index: 20;
  line-height: 1;

  &:hover {
    background: #fff;
    color: #171717;
    border: 1px solid #fff;
  }
}

.sigma-auth-header {
  padding: 1.5rem 2.5rem 0.5rem;
}

.sigma-auth-logo-wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 5vh;

  img {
    filter: brightness(0);
  }
}


.sigma-auth-title {
  font-size: clamp(22px, 3vw, 40px);
  font-weight: 400;
  color: $primary-color;
  margin: 0 0 0.5rem;
  display: none;
}

[data-auth-mode="login"] .sigma-auth-title--login {
  display: block;
}

[data-auth-mode="signup"] .sigma-auth-title--signup {
  display: block;
}

.sigma-auth-subtitle {
  font-size: clamp(14px, 3vw, 16px);
  color: #3F3F3F;
}

/* Tabs ρόλων */
.sigma-auth-roles {
  padding: 0.75rem 2.5rem 0;
}

.sigma-auth-roles-inner {
  position: relative;
  display: flex;
  background: rgba(229, 231, 235, 0.9);
  border-radius: 999px;
  padding: 4px;
  overflow: hidden;
}

/* Το sliding pill που κινείται κάτω από τα tabs */
.sigma-auth-roles-pill {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  border-radius: 999px;
  background: $secondary-color;
  pointer-events: none;
  // width & x θα τα χειριστεί GSAP
}

.sigma-auth-role-btn {
  color: $primary-color;
  position: relative;
  flex: 1;
  border: none;
  background: transparent;
  border-radius: 999px;
  padding: 0.35rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
  transition: color 0.15s ease-out;

  &:hover {
    color: $primary-color;
    background: transparent
  }

  &:focus {
    color: $primary-color;
    background: transparent
  }
}

.sigma-auth-role-btn.is-active {
  color: #ffffff;
}

/* Body */
.sigma-auth-body {
  padding: 1rem 2.5rem 1.5rem;
  margin-top: 1rem;
  overflow-y: auto;
  flex: 1;

  form.woocommerce-form.woocommerce-form-login.login {
    border: none;
    padding: 0;
  }
}

.sigma-auth-panel {
  display: none;
}

.sigma-auth-panel.is-active {
  display: block;
}

/* Footer */
.sigma-auth-footer {
  padding: 1rem 2.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
  flex-wrap: wrap;
}

.sigma-auth-toggle {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: $primary-color;
  cursor: pointer;
  text-align: left;

  &:hover {
    color: $secondary-color;
  }
}

.sigma-auth-toggle-signup {
  display: none;
}

[data-auth-mode="login"] .sigma-auth-toggle-login {
  display: inline;
}

[data-auth-mode="login"] .sigma-auth-toggle-signup {
  display: none;
}

[data-auth-mode="signup"] .sigma-auth-toggle-login {
  display: none;
}

[data-auth-mode="signup"] .sigma-auth-toggle-signup {
  display: inline;
}

.sigma-auth-forgot {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: $primary-color;
  cursor: pointer;
  text-align: left;

  &:hover {
    color: $secondary-color;
  }
}

.sigma-auth-footer-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.sigma-auth-footer-brand {
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 700;
}

.woocommerce-privacy-policy-text {
  p {
    font-size: 14px;
    line-height: 1.2;
    opacity: 0.7;
    margin-bottom: 3vh;
  }
}

.field-error {
  font-size: 12px;
  color: #be0000;
}


/* inline error κάτω από field */
.sigma-auth-modal .woocommerce-error {
  margin: -20px 0 30px;
  padding: 10px 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(220, 38, 38, 0.08);
  color: #991b1b;
  display: none;
  border-radius: 4px;

  font-size: 13px;
  line-height: 1.4;
}

/* reset list */
.sigma-auth-modal .woocommerce-error li {
  list-style: none;
  margin: 0;
}

/* μικρό icon */
.sigma-auth-modal .woocommerce-error::before {
  content: "⚠";
  margin-right: 8px;
  position: static;
}

.field-success {
  font-size: 12px;
  color: #1a7f37;
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.field-success::before {
  content: '✓';
  font-weight: bold;
}

.form-row.is-checking::after {
  content: 'Έλεγχος ΑΦΜ...';
  display: block;
  font-size: 12px;
  color: #6b7280;
  margin-top: 4px;
}

.password-strength {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 0.8rem;
  font-weight: 600;
}

.password-strength__bars {
  display: flex;
  gap: 6px;
}

.password-strength__bars span {
  flex: 1;
  height: 4px;
  background: #e5e7eb; // γκρι inactive
  border-radius: 2px;
  transition: background-color 0.2s ease;
}

/* ===== STATES ===== */

/* WEAK → 1 bar */
.password-strength.is-weak {
  color: #d63638;
}

.password-strength.is-weak span:nth-child(1) {
  background: #d63638;
}

/* MEDIUM → 2 bars */
.password-strength.is-medium {
  color: #ff9800;
}

.password-strength.is-medium span:nth-child(-n+2) {
  background: #ff9800;
}

/* GOOD → 3 bars */
.password-strength.is-good {
  color: #8bc34a;
}

.password-strength.is-good span:nth-child(-n+3) {
  background: #8bc34a;
}

/* STRONG → 4 bars */
.password-strength.is-strong {
  color: #2e7d32;
}

.password-strength.is-strong span {
  background: #2e7d32;
}

.password-strength__label {
  text-align: right;
  font-size: 0.75rem;
}


@media screen and (max-width: 767px) {
  .sigma-auth-overlay {
    padding: 0.5rem;
  }
  .sigma-auth-modal {
    height: 98vh;
    padding: 10px;
  }
  .sigma-auth-roles {
    padding: 0.75rem 0.5rem 0;
  }
  .sigma-auth-logo-wrap {
    margin-bottom: 3vh;
  }
  .sigma-auth-header {
    padding: 1rem 0.5rem 0rem;
  }
  .sigma-auth-body {
    padding: 0rem 0.5rem;
    margin-top: 1rem;
    overflow-y: auto;
    flex: 1;
  }
  .sigma-auth-logo-wrap img {
    max-width: 150px;
  }
  .sigma-auth-footer {
    padding: 1rem 0.5rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;

    .sigma-auth-toggle, .sigma-auth-forgot {
      font-size: 14px;
    }
  }
}